@font-face {
  font-family: 'digitalFont';
  src: url('/public/DS-Digital-Bold.woff2') format('woff2'),
      url('/public/DS-Digital-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.App {
  text-align: center;
  font-family: 'digitalFont';
}

h1 {
  color: white;
}